<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925925834059-689bkcd9qjvpoc8bgveqrtabqmu428b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925925834059-689bkcd9qjvpoc8bgveqrtabqmu428b1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925925834059-4eq4oemsvs9hcnghb47k7ns6pum9olri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVmJwhE_jV2FAbo12YFsm4BrHoSeLYHU4</string>
	<key>GCM_SENDER_ID</key>
	<string>925925834059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.laDou</string>
	<key>PROJECT_ID</key>
	<string>la-dou</string>
	<key>STORAGE_BUCKET</key>
	<string>la-dou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925925834059:ios:b5d2d0d434a22b04cbfcce</string>
</dict>
</plist>